<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Fucking Private Bank</title>
</head>
<body>
    <div class="content-container">
        <h1>Welcome to Fucking Private Bank</h1>
        <p>Your seriously private banking solution.</p>

        <ul>
            <li><a href="/login">Log In</a></li>
            <li><a href="/register">Create an Account</a></li>
        </ul>

        <p>No JavaScript. No surveillance.</p>
        <p>Head to /pgp to see public key</p>
    </div>
</body>
</html>
