<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="content-container">
        <h2>Transfers</h2>

        <p>Balance: ${{ balance }}</p>

        <label>Enter amount</label><br>
        <input type="text" name="Enter amount" required><br><br>

        <label>Enter recipient</label><br>
        <input type="text" name="Recipient" required><br><br>

        <!-- Transfer Money Button -->
        <a href="/transfer">
            <button>Transfer Money</button>
        </a>

        <!-- Other actions -->
        <form method="POST" action="/logout">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>